<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @food.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @food.name %><br />
      <strong>URL</strong> <%= link_to food_path(@food), @food %><br />

    </td>
  </tr>
</table>